body{
    margin: 0;
    font-size: 21px;
}

header{
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.intro{
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

.my-skills{
    background-color:darkgreen;
    color:white;
    text-align: center;
    padding: 75px 0;
}

.columns{
    display: flex;
}
.column{
    margin: 0 10px;
}


